<h1>List of Blogs</h1>


<table>
    <tr>
        <th>Blog ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Operations</th>
    
    </tr>

    <% @blogs.each do |blog| %>
    <tr>
        <th><%= blog.id %></th>
        <th><%= blog.title %></th>
        <th><%= blog.description %></th>
        <th>
            <%= link_to "Show", blog_path(blog)  %> 
            <%= link_to "Edit", edit_blog_path(blog)  %> 
            <%= button_to "Delete", blog_path(blog), method: :delete %>
        </th>    
    </tr>
    <% end %>

</table>


<br>
<%= link_to "Create New Blog", new_blog_path %>
<br>
