<h1> Create a New Blog </h1>

<% if @blog.errors.any? %>
    <% @blog.errors.full_messages.each do |message| %>
        <div style="color: red">    
            <%= message %>
        </div>
    <% end %>
<% end %>


<%= form_with(model: @blog) do |form|%>
<div>
<%= form.label "Title", style: "display: block"%>
<%= form.text_field :title%>
</div>
<div>
<%= form.label "Description", style: "display: block"%>
<%= form.text_field :description%>
</div>
<div>
<%= form.submit%>

</div>

<% end %>
<br>
<%= link_to "Go back to blogs", blogs_path %>
<br>